@using Microsoft.AspNetCore.Identity
@inject SignInManager<Utilizador> SignInManager
@inject UserManager<Utilizador> UserManager




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LabTestesOnline</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="~/images/clinicIcon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color: #0072B0;">
            <div class="container ">
                <div>
                 
                    <a class="nav-link text-dark " asp-area="" asp-controller="Home"  asp-action="Index"> <img src="~/images/clinic-48.png" alt="logo"> </a>
                </div>
                  <a class="navbar-brand text-white mt-3" asp-area="" asp-controller="Home"  asp-action="Index"> LabTestesOnline</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ">
                      @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@
                    </ul>

                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white mt-5" style="background-color: #0072B0;">

           <div class="container row col-md-12 col-sm-12">
                  @if(SignInManager.IsSignedIn(User)){
                          <div class="col-md-6 col-sm-12" style="text-align: center;">
                               Bem-vindo &nbsp  <strong> @User.Identity.Name</strong>  
                       </div>

                        @if(User.IsInRole("Admin")){
                             <div class="col-md-6 col-sm-12" style="text-align: center;">
                            Tipo de Utilizador: &nbsp  <strong> Administrador</strong>
                            </div>
                        } else if(User.IsInRole("Gestor")){
                             <div class="col-md-6 col-sm-12" style="text-align: center;">
                           Tipo de Utilizador: &nbsp <strong> Gestor</strong>
                            </div>
                        } else if(User.IsInRole("Cliente")){
                             <div class="col-md-6 col-sm-12" style="text-align: center;">
                              Tipo de Utilizador: &nbsp  <strong> Cliente</strong>
                            </div>
                        }else if(User.IsInRole("Tecnico")){
                             <div class="col-md-6 col-sm-12" style="text-align: center;">
                              Tipo de Utilizador: &nbsp  <strong> Técnico</strong>
                            </div>
                        }



                    }else{
                          <div class="col-md-6 col-sm-12" style="text-align: center;">
                        &copy; 2022 - LabTestesOnline
                        </div>
                    }


               
               
            </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
