@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacão da password esquecida";
}

<h1>@ViewData["Title"]</h1>
<p>
    Verifique o seu email para recuperar a sua password!
</p>

